:root {
  --main-color: #212121;
  --secondary-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
}

.navbar .navigation a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--main-color, black);
}

.navbar a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

ul {
  list-style-type: none;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.project-category {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;

  color: #757575;
}
